* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    float: left;
    width: 100%;
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
}

form {
    padding-top: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    font-size: 232px;
    background-color: transparent;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: center;
}

input:hover {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
input:active {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

section {
    background: #CCC;
    float: left;
}

.userTime {
    font-size: 232px;
    text-align: center;
}

button {
    padding: 14px;
    float: left;
    margin: 10px 0;
    width: 100%;
}

button img {
    width: 32px;
}

.valueTimer {
    display: none;
    margin-right: 15px;
    font-size: 232px;
    text-align: center;
    margin-bottom: 0;
}

.message-error {
    display: none;
    background-color: crimson;
    padding: 10px 0;
    margin: 10px 0;
    float: left;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.controlTimer {
    float: left;
    width: 100%;
    display: none;
}

.barTimer {
    background-color: #edfbff;
    width: 100%;
    float: left;
    margin: 10px 0;
}

.barTimer div { 
    height: 25px;
    width: 0%;
    background-color: #383838;
}

.message-error p {
    color: #FFF;
    margin: 0;
}

.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      background: #FFF;
    }
  }