* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    float: left;
    width: 100%;
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
}

form {
    padding-top: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    font-size: 232px;
    width: 100%;
    text-align: center;
    border-radius: 45px;
    
}


section {
    background: #CCC;
    float: left;
}

.red {
    background: #f99898;
}

.yellow {
    background : yellow;
}

.gray {
    background-color: #a9a9a9;
}
.countReady {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #383838;
    opacity: .98;
    z-index: 2;
    padding: 40px;
    display: none;
}

.countReady p {
    color: #FFF;
    font-size: 40px;
}
.userTime, .restTime {
    font-size: 232px;
    text-align: center;
}

.restTime {
    background: yellow;
}

button {
    padding: 14px;
    float: left;
    margin: 10px 0;
    width: 100%;
}

button img {
    width: 32px;
}


.counterBg {
    display: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 45px;
}

.counterInfo {
    display: none;
}

.box {
    padding: 10px;
    margin: 10px 0;
    border-radius: 45px;
    font-size: 100px;
    background: #FFF;
    text-align: center;
}

.box h2 {
    font-size: 16px;
}

.form-control {
    border-radius: 45px;
}

.valueTimer {
    margin-right: 15px;
    font-size: 232px;
    text-align: center;
    margin-bottom: 0;
}

.message-error {
    display: none;
    background-color: crimson;
    padding: 10px 0;
    margin: 10px 0;
    float: left;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.controlTimer {
    float: left;
    width: 100%;
    display: none;
}

.barTimer {
    background-color: #edfbff;
    width: 100%;
    float: left;
    margin: 10px 0;
}

.barTimer div { 
    height: 25px;
    width: 0%;
    background-color: #383838;
}

.message-error p {
    color: #FFF;
    margin: 0;
}

.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      background: #FFF;
    }
  }


  @media (max-width: 500px) {
    .userTime, .restTime {
        font-size: 60px;
    } 

    .valueTimer {
        font-size: 60px;
        margin: 0;
    }

    .valueTimes, .valueExercises {
        font-size: 25px;
    }
}

@media (min-width: 501px) and (max-width: 992px) {
    .userTime, .restTime {
        font-size: 105px;
    } 

    .valueTimer {
        font-size: 105px;
        margin: 0;
    }

    .valueTimes, .valueExercises {
        font-size: 80px;
    }

}